<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%- nome_site %> </title>
<meta name="description" content="Um site para fazer trabalhos de escola usando inteligência Artificial (IA)">
<meta name="author" content="Guxta Developer">

<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/vendor.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<script src="/js/modernizr.js"></script>
<script src="/js/pace.min.js"></script>
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
<link rel="icon" href="/favicon.png" type="image/x-icon">

</head>

<body id="top">

<header id="header" class="row"> 
<div class="header-logo">
<a href="/"><%- nome_site %></a>
</div>
<nav id="header-nav-wrap">
<ul class="header-main-nav">
<li><a href="/">Voltar para o início</a></li>
<li><a href="https://wa.me/559185470410">Conversar com o criador</a></li>
<% if (user) { %>
<li><a href="/users/logout">Sair</a></li>
<% } else { %>
<li><a href="/users/register">Criar conta</a></li>
<li><a href="/users/login">Entrar</a></li>
<% } %> 
</ul>
<a href="/docs" class="button button-primary cta">Docs</a>
</nav>
<a class="header-menu-toggle" href="#"><span>Menu</span></a>	
</header>


<section id="home" data-parallax="scroll" data-image-src="https://up.onee.eu.org/file/vUwGtTo90eMR.jpg">
<div class="overlay"></div>
<div class="home-content">
<div class="row contents"> 
<div class="home-content-left">
<h3>Olá,</h3>
<h1>
Bem-vindo (a)!
</h1>
 <h3>Para ver as funções que o site pode fazer</br>Basta se cadastrar e fazer login!</h3>
<div class="buttons" data-aos="fade-up">
<a href="/docs" class="button stroke">
<span><i class="fas fa-folder"></i></span>
Entrar 
</a>
<a href="https://wa.me/559185470410" class="button stroke" target="__blank">
<span><i class="fas fa-code"></i></span>
 Criador
</a>
</div> 
</div>
</div>
</div> 

<ul class="home-social-list">
<li>
<a href="https://api.whatsapp.com/send/?phone=559185470410&text&app_absent=0" target="__blank"><i class="fab fa-whatsapp fa-lg"></i></a>
</li>
<li>
<a href="https://github.com/Guxtakkkj" target="__blank"><i class="fab fa-github fa-lg"></i></a>
</li>
<li>
<a href="http://eu-guxtakkkj.onrender.com" target="__blank"><i class="fas fa-link fa-lg"></i></a>
</li>
</ul>
<div class="home-scrolldown">
<a href="#testimonials" class="scroll-icon smoothscroll">
<span>Descer</span>
<i class="icon-arrow-right" aria-hidden="true"></i>
</a>
</div>
</section> 

<section id="testimonials">
<div class="row">
<div class="col-twelve">
<h1 class="intro-header" data-aos="fade-up">Sobre Mim</h1>
</div> 		
</div> 	
<div class="row owl-wrap">
<div id="testimonial-slider"data-aos="fade-up">
<div class="slides owl-carousel">
<div>
<p>
Olá, Meu nome é Gustavo, Atualmente estou estudando HTML CSS e JavaScript, Meu objetivo com tudo isso é aprender mais sobre programação!</br>Se quiser aprender junto ou comprar sites prontos, você pode me contatar via <a href="https://wa.me//559185470410" target="__blank">Whatsapp</a></p> 
<div class="testimonial-author">
<img src="https://i.pinimg.com/originals/67/4e/b0/674eb05c8f74ce74019c34c78d3ad945.gif" alt="Meu perfil">
<div class="author-info">
Gustavo Nunes de Souza 
<span>Programador</span>
</div>
</div> 
</div> 
</div>
</div>
</div>
</section>

<section id="download">
<div class="row">
<div class="col-full">
<h1 class="intro-header"data-aos="fade-up">Sobre o site</h1>
<p class="lead" data-aos="fade-up">
 Foram adicionadas algumas Inteligência Artificiais.</br>Este site tem o Objetivo de ajudar você aprender mais sobre esse tipo de projeto 
</p>
<div class="primary" data-aos="fade-up">
<a class="button button-default" href="https://wa.me//559185470410" target="__blank">
<span aria-hidden="true"><i class="fas fa-code"></i></span>
 Comprar Site</a>
</div>
</div>
</div>

</section>

<footer>
<div class="footer-bottom">
<div class="row">
<div class="col-twelve">
<div class="copyright">
 <span><a href="https://github.com/Guxtakkkj">2024 Guxtakkkj | Todos os direitos reservados</a></span>		 	
 </div>
 <div id="go-top">
<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
 </div> 
</div>
</div> 	
</div>
</footer>

<div id="preloader"> 
<div id="loader"></div>
</div>
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
